---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Site Index</h1>

		<div>
			Repro for <a href="https://github.com/vernak2539/astro-rehype-relative-markdown-links/issues/31">Issue 31</a>
		</div>
	
		<div style="margin-top: 20px;">
			<h2>Links</h2>
			<ul>
			<li><a href="/docs">Docs Index</a></li>
			<li><a href="/docs/docs-1">Docs 1</a></li>
			<li><a href="/docs/subdir">Subdir Index</a></li>
			<li><a href="/docs/subdir/subdir-1">Subdir 1</a></li>
			</ul>
		</div>

		My Path is: [ {Astro.request.url }]
	</body>
</html>
